@import "./fonts";

/* --------------------------------- Fonts --------------------------------- */

$body-font: "Poppins", sans-serif;

/* --------------------------------- Colors -------------------------------- */

// $white: rgb(244, 244, 244);
$rose: #f43f5e;
$green: #06e363;
$light-green: #00c67f;
$grey: #e5e7eb;
$light-grey: #f4f4f4;
// $dark-grey: #454545;

/* new ones */

$light-blue: #00b8e9;
$blue: #199dfb;
$dark-blue: #1186ec;
$icon-blue: #4bb0f7;
// $light-blue: #e4f5fa;
$icon-green: #25bc7b;
$powdery: #faf1e4;
$dark-powdery: #bc9225;
$red: #ff2500;
$salmon: #ff5359;
$light-red: #fbe6e3;
$white: #ffffff;
$black: #171717;
$gray: #e9eaf1;
$price-content-gray: #fbfbfb;
$null-gray: #dddddd;
$light-gray: #f9f9f9;
$icon-gray: #888888;
$dark-gray: #454545;
$radio-gray: #e9e9e9;
$disabled: #c0c0c0;
$background-gray: #f2f2f2;
$shadow: #0000000d;
$light-shadow: #00000008;

/* ---------------------------------- Size --------------------------------- */

$xs: 576px;
$sm: 640px;
$md: 768px;
$lg: 976px;
$xl: 1280px;
$xxl: 1536px;
